<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Genetic" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Neuro" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net472" />
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net472" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="GMap.NET.Windows" version="1.9.2" targetFramework="net472" />
  <package id="ILNumerics.Native" version="3.2.0" targetFramework="net472" />
  <package id="MathNet.Numerics" version="3.17.0" targetFramework="net472" />
  <package id="MathNet.Numerics.MKL.Win" version="2.2.0" targetFramework="net472" />
  <package id="NeuralNetwork" version="7.4.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="SharpLearning.Common.Interfaces" version="0.31.1" targetFramework="net472" />
  <package id="SharpLearning.Containers" version="0.31.1" targetFramework="net472" />
  <package id="SharpLearning.DecisionTrees" version="0.31.1" targetFramework="net472" />
  <package id="SharpLearning.InputOutput" version="0.31.1" targetFramework="net472" />
  <package id="SharpLearning.Metrics" version="0.31.1" targetFramework="net472" />
  <package id="SharpLearning.Neural" version="0.31.1" targetFramework="net472" />
  <package id="SharpLearning.RandomForest" version="0.31.1" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.110.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.110.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.110.0" targetFramework="net472" />
</packages>